    <!DOCTYPE html>
    <html>
    <head>
        <title>Encode Pageee</title>
    </head>
    <body>
        <h1>Encode Fileeee</h1>
        <form action="/encode" method="post" enctype="multipart/form-data">
            Passphrase: <input type="text" name="passphrase" required><br>
            Image: <input type="file" name="image" required><br>
            Secret File: <input type="file" name="secretFile" required><br>
            <input type="submit" value="Encode">
        </form>
    </body>
    </html>
