body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    margin: 0 auto;
    width: 300px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

label {
    display: block;
    margin-top: 1em;
}

input[type="submit"] {
    margin-top: 1em;
}
    